

*.vsidx
*.db
*.exe
*.pdb
*.recipe
*.ilk
*.log
*.lastbuildstate
*.tlog
*.obj
*.vcxproj
*.filters
*.user
Project/.vs/L11/v17/.suo
Project/.vs/Project/v17/.suo
Project/Project.sln
Project/.vs/Project/v17/Browse.VC.db-shm
Project/.vs/Project/v17/Browse.VC.db-wal
Project/.vs/Project/v17/Browse.VC.opendb
