

*.vsidx
*.db
*.exe
*.pdb
*.recipe
*.ilk
*.log
*.lastbuildstate
*.tlog
*.obj
*.vcxproj
*.filters
*.user
Project/.vs/L11/v17/.suo
Project/.vs/Project/v17/.suo
Project/Project.sln
Project/.vs/Project/v17/Browse.VC.db-shm
Project/.vs/Project/v17/Browse.VC.db-wal
Project/.vs/Project/v17/Browse.VC.opendb
*.opendb
*.db-wal
*.db-shm
PakMan/.vs/PakMan/v17/.suo
PakMan/desktop.ini
PakMan/PakMan.sln
PakMan/Debug/PakMan.vcxproj.FileListAbsolute.txt
.vs/slnx.sqlite
Pak_Man/.vs/Pak_Man/v17/.suo
Pak_Man/Debug/Pak_Man.vcxproj.FileListAbsolute.txt
*.sln
